body {
  mix-height: 1000px;
  padding-top: 70px;
  background: url("../Images/Background2.jpg");
}

.jumbatronJeff {
  background: rgb(53, 5, 0);;
}

div
{
  color: white;
  font-family: Shlop;
}

h2
{
  color: white;
}
.para
{
 color: white;
 font-family: Shlop;
}
